<form class="example-form">
    @if(action=='remove'){
        <div>
            آیا از حذف این کاربر مطمئن هستید؟!
        </div>

    }
          <!-- <mat-form-field class="example-full-width">
    <mat-label>شماره کاربر</mat-label>
    <input [disabled]="action=='remove'" name="id" [(ngModel)]="data.id" matInput>
  </mat-form-field> -->
      <mat-form-field class="example-full-width">
    <mat-label>نام کاربر</mat-label>
    <input [disabled]="action=='remove'" name="name" [(ngModel)]="data.name" matInput>
  </mat-form-field>
       <mat-form-field class="example-full-width">
    <mat-label>نام خانوادگی کاربر</mat-label>
    <input [disabled]="action=='remove'" name="family" [(ngModel)]="data.family" matInput>
  </mat-form-field>
   <mat-form-field class="example-full-width">
      <mat-label>نام کاربری</mat-label>
    <input [disabled]="action=='remove'" name="username" [(ngModel)]="data.username" matInput>
  </mat-form-field>
     <!-- <mat-form-field class="example-full-width">
      <mat-label>کلمه عبور</mat-label>
    <input [disabled]="action=='remove'" name="password" [(ngModel)]="data.password" matInput>
  </mat-form-field> -->

</form>
<div>
    <button  (click)="ok()" mat-button>تایید</button>
    <button  (click)="onCancel.emit()" mat-button>انصراف</button>
    </div>