:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(248, 168, 208);
}

.login {
    background-color: rgb(204, 211, 209);
    padding: 3em;
    text-align: center;
    border: 1px solid gray;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em 0.3em rgb(104, 103, 103);

    input {
        outline: none;
        border: none;
        background-color: rgb(244, 247, 247);
        width: 20vw;
        height: 5vh;
        margin-bottom: 1em;
        border-radius: 0.5em;
    }

    button {
        width: 100%;
        font-size: medium;
        border-radius: 0.5em;
        border: none;
        background-color: rgb(255, 0, 140);
        color: white;
        padding: 0.4em;
        transition: all 2s;
        cursor: pointer;
    }

    button:hover {
        transform: scale(1.1);
        background-color: rgb(197, 0, 82);
    }

    a {
        text-decoration: none;
        font-size: medium;
        color: rgb(59, 58, 58);
    }
}