@if (action=='list') {

<div class="toolbar">
  <button (click)="create()" mat-flat-button>افزودن</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> شماره محصول </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container> -->
  <ng-container matColumnDef="productname">
    <th mat-header-cell *matHeaderCellDef> نام محصول </th>
    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> توضیحات</th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> دسته بندی </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> برند محصول </th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>
  <ng-container matColumnDef="sku">
    <th mat-header-cell *matHeaderCellDef> شماره سریال محصول</th>
    <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> قیمت کالا </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="edit(element)" mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>&nbsp;
      <button (click)="remove(element)" mat-mini-fab>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}
@else {

<app-product [action]="action" [current]="selected" (onOk)="ok($event)" (onCancel)="cancel()" />
}