div {
  position: absolute;
  margin-top: 10vh;


  .emptyBasket {
    position: relative;
    margin-top: 20vh;
    font-size: xx-large;
    border-radius: 0.7em;
    color: rgb(255, 0, 98);
    background-color: rgb(255, 255, 255);
  }
}