<div class="uplogo">
    <div>خرید آنلاین از فروشگاه های اسباب بازی توی توی
    </div>
    <div>
        <a href=""> مجله توی توی </a>
        <a routerLink="/kalas" (click)="goto('فروشگاه های توی توی')">فروشگاه های توی توی</a>
        @if(activepage=='فروشگاه های توی توی')
        {
        <app-foroshgah />
        }
    </div>
</div>
<div class="header">
    <div class="logo">
        <img src="/images/logo.jpg" alt="">
    </div>
    <div class="call">5847-6000(21)
    </div>
    <div class="search">
        <form class="searchform">
            <mat-form-field class="example-full-width">
                <mat-label>جستجوی محصولات</mat-label>
                <input matInput placeholder="جستجوی محصولات" value="">
            </mat-form-field>
        </form>
    </div>
    <span class="divider1"></span>
    <a routerLink="/admin">
        <mat-icon class="picicon" aria-hidden="false" fontIcon="person">
        </mat-icon>
    </a>
    <a routerLink="backet" (click)="goto('backet')">
        <mat-icon class="picicon" matBadge={{cartcount}} matBadgeColor="warn" matBadgeOverlap="false"
            (click)="refreshcount()">shopping_cart
        </mat-icon>
    </a>
    <a routerLink="home" (click)="goto('home')">
        <mat-icon class="picicon" aria-hidden="false" fontIcon="home">
        </mat-icon>
    </a>
    @if(activepage=='home')
    {
    <app-slideshow />
    <app-buywithyear />
    <app-foroshgah />
    <app-abouttoytoy />
    }
</div>
<div class="menu">
    <ul class="style">
        <li>
            <a routerLink="kala" class="stylemenu" (click)="goto('kala')">کالاها</a>
            @if(activepage=='kala')
            {
            <app-kalas />

            }

        </li>
    </ul>
    <ul class="style">
        <li>
            <a routerLink="boys" class="stylemenu" (click)="goto('boys')">پسرانه
            </a>
            @if(activepage=='boys')
            {
            <app-boys />
            }
        </li>
    </ul>
    <a routerLink="girls" class="stylemenu" (click)="goto('girls')">
        <ul class="style">
            <li>دخترانه</li>
        </ul>
        @if(activepage=='girls')
        {
        <app-girls />
        }
    </a>
    <a routerLink="video" class="stylemenu" (click)="goto('video')">
        @if(activepage=='video')
        {
        <app-video />
        }
        <ul class="style">
            <li>ویدیوها</li>
        </ul>
    </a>
    <a routerLink="brand" class="stylemenu" (click)="goto('brand')">
        @if(activepage=='brand')
        {
        <app-brand />
        }
        <ul class="style">
            <li>برندها</li>
        </ul>
    </a>
    <a routerLink="new" class="stylemenu" (click)="goto('new')">
        @if(activepage=='new')
        {
        <app-new />
        }
        <ul class="style">
            <li>جدیدترین</li>
        </ul>
    </a>
    <a routerLink="basket" class="stylemenu" (click)="goto('backet')">
        @if(activepage=='backet')
        {
        <app-backet />
        }
        <ul class="style">
            <li>سبدخرید</li>
        </ul>
    </a>
    <a routerLink="off" class="stylemenu" (click)="goto('off')">
        @if(activepage=='off')
        {
        <app-off />
        }
        <ul class="style">
            <li>حراجی ها</li>
        </ul>
    </a>
    <span class="divider"></span>
    <a routerLink="/login" class="stylemenu" (click)="goto('login')">
        @if(activepage=='login')
        {
        <app-login />
        }
        <ul class="stylelogin">

            <li>ورود</li>

        </ul>
    </a>
</div>