.uplogo {
    display: flex;
    border: 1px solid rgb(190, 186, 186);
    width: 100vw;
    height: 5vh;
    font-family: toy;
    font-size: small;
    justify-content: space-between;
    align-items: center;
    color: rgb(177, 177, 177);

    div {
        margin-right: 5em;
    }

    a {
        margin-left: 3em;
        text-decoration: none;
        color: rgb(177, 177, 177);
    }
}

.logo {
    display: flex;
    width: 100vw;
    height: 15vh;

    div {
        margin-right: 2em;
    }

    .call {
        color: black;
        align-self: center;
        justify-self: right;
    }

    .search {
        align-self: center;

    }

    #searchtext {
        background-color: rgb(230, 229, 229);
        color: rgb(99, 98, 98);
        width: 40vw;
        height: 7vh;
        border-radius: 30px;
        border-style: none;

    }

    #searchtext:hover {
        background-color: rgb(255, 254, 254);
        border-color: rgb(143, 141, 141);
        width: 40vw;
        height: 7vh;
        border-radius: 30px;
    }

    .icon {
        align-self: center;

    }

    #picicon1 {
        width: 3vw;
        height: 6.5vh;
        margin-left: 1vw;

    }

    #picicon2 {
        width: 3vw;
        height: 6vh;
    }

    #picicon3 {
        width: 2.5vw;
        height: 5vh;
        margin-bottom: 0.30vw;
        margin-left: 1vw;
    }

}

.menu {
    display: flex;
    width: 100vw;
    height: 8vh;
    border: 1px solid rgb(255, 0, 64);
    background-color: rgb(255, 0, 64);
    color: white;
    align-items: center;

    .stylemenu {
        text-decoration: none;
        list-style: none;
        color: white;
        cursor: pointer;
    }

    .stylemenu:hover {
        transition: 1s ease-in-out;
        color: rgb(177, 176, 176);
    }

    .stylemenu1 {

        position: absolute;
        text-align: right;
        text-decoration: none;
        border-radius: 20px;
        color: rgb(58, 58, 58);
        list-style: none;
        font-size: small;
        width: 15vw;
        height: 20vh;
        margin-top: 2.25vh;
        background-color: rgb(235, 234, 234);
        transition: all 1s;
        cursor: pointer;
    }

    .style {
        list-style: none;
        font-size: medium;
        font-weight: bold;

    }

    .stylelogin {
        list-style: none;
        font-size: medium;
        font-weight: bold;
        margin-left: 1vw;
    }

    .divider {
        flex: 1 1 0;
    }
}