@font-face {
    font-family: toytoy;
    src: url('/fonts/iranyekanwebregular.woff');
}

.uplogo {
    display: flex;
    border: 1px solid rgb(190, 186, 186);
    height: 5vh;
    font-family: toytoy;
    font-size:small;
    justify-content: space-between;
    align-items: center;
    color: rgb(177, 177, 177);

    div {
        margin-right: 3em;
    }

    a {
        margin-left: 3em;
        text-decoration: none;
        font-family: toytoy;
        color: rgb(177, 177, 177);
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    height: 15vh;

    .call {
        font-size: small;
        color: black;
        font-family: toytoy;
        margin-left: 2em;
    }

    .searchform {
        
        height: 10vh;
    }

    .example-full-width {
        font-size: medium;
        width: 40vw;
        margin-left: 8em;

    }

    .picicon {
        cursor: pointer;
        width: 6vw;
        height: 6vh;
        color: black;

    }
}

.menu {
    display: flex;
    height: 8vh;
    border: 1px solid rgb(255, 0, 64);
    background-color: rgb(255, 0, 64);
    color: white;
    align-items: center;
    
    .stylemenu {
        text-decoration: none;
        list-style: none;
        font-size:small;
        color: white;
        cursor: pointer;
    }

    .stylemenu:hover {
        transition: 1s ease-in-out;
        color: rgb(177, 176, 176);
    }

    .style {
        list-style: none;
        font-weight: bold;
    }

    .stylelogin {
        list-style: none;
        font-size: large;
        font-weight: bold;
        font-size:small;
        margin-left: 2vw;
    }

    .divider {
        flex: 1 1 0;
    }
}