/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: toytoy;
    src: url('/fonts/MaterialIcons-Regular.woff2')
}

* {
    font-family: toytoy;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: toytoy;
}