/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: toytoy;
    src: url('/fonts/MaterialIcons-Regular.woff2')
}

body {
    margin: 0;
    font-family: toytoy;

    .loading {
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        margin-right: 45vw;
        width: 10vw;
        height: 10vh;


    }
}