<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"><img src="/images/{{product.pic}}" alt=""></div> -->
        <!-- <mat-card-title>{{product.title}}</mat-card-title> -->
    </mat-card-header>
    <img mat-card-image src="/images/{{product.pic}}" alt="">
    <mat-card-content>
        {{product.title}}
    </mat-card-content>
    <mat-card-subtitle>{{product.price|currency }}</mat-card-subtitle>
    <mat-card-actions>
        <button mat-button (click)="buy(product)" (click)="addtocart()">
            @if(action=='buy' ){

            افرودن به سبد

            }
            @else {
            حذف از سبد خرید
            }

        </button>
        <button mat-button>لایک</button>
    </mat-card-actions>
</mat-card>